.vis0{
}

.vis1{
}
.vis2{
	background-color:#c6ae73;
	/*color:white;*/

}
.vis3{
	background-color:#299eff;
	color:white;
}

.vis4{
	background-color:#d60021;
	color:white;
	
}

.vis5{
	background-color:#d60021;
	color:white;
	font-weight:800;
}

